Render System=OpenGL 3+ Rendering Subsystem

[OpenGL 3+ Rendering Subsystem]
# FSAA = multisampling (0 = éles pixeles élek). 4 jó egyensúly; 8 erősebb, drágább GPU.
FSAA=4
FSAAHint=
Full Screen=No
RTT Preferred Mode=FBO
VSync=Yes
VSync Method=
Video Mode=1920 x 1080
sRGB Gamma Conversion=Yes
Colour Depth=32
